.Card .Conteudo {
  color: black;
  flex-direction: row;
  flex: 1;
  padding: 0 2px;
  text-align: center;
}

.Header {
  background-color: rgb(219, 215, 215);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.header-container-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.filter-recipes-container {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 100%;
  justify-content: space-around;
}

.filter-recipes-card {
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-around;
  margin-top: 40px;
  overflow: hidden;
  width: 180px;
}

.card-name {
  display: flex;
  height: auto;
  justify-content: center;
  overflow: scroll;
}

.filter-recipes-img {
  height: 180px;
  width: 180px;
}
