.Header {
  align-items: center;
  background-color: rgb(219, 215, 215);
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}
