.menu-bottom {
  background-color: rgb(255, 163, 118);
  bottom: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.btnBottom {
  bottom: 0;
  position: fixed;
}
